<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>jspBasic</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<description>Servlet for login validation</description>
		<display-name>AlphanumericStringServlet</display-name>
		<servlet-name>AlphanumericStringServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.AlphanumericStringServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlphanumericStringServlet</servlet-name>
		<url-pattern>/alphanumericstringservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Servlet for count of numbers</description>
		<display-name>CountServlet</display-name>
		<servlet-name>CountServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.CountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CountServlet</servlet-name>
		<url-pattern>/countservlet</url-pattern>
	</servlet-mapping>

</web-app>